.PortfolioItem {
  .tags {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8em;
    list-style: none;
    padding-left: 0px;
    margin-top: 1rem;
    display: flex;
    li {
      padding-right: 1rem;
    }
  }
}