.PortfolioTags {
  list-style: none;
  margin: 2em;
  padding: 0 10% 0 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  button {
    margin: 3px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    border-radius: 10px;
    outline: none;
  }

  button:hover {
    background-image: linear-gradient(-20deg, #11af94 0%, #9be4df 100%);
  }

  .selected {
    border: black 3px solid;
    background-image: linear-gradient(-20deg, #11af94 0%, #9be4df 100%);
  }
  @media (max-width: 500px) {
    padding: 0 0 0 0;
  }
}