.PortfolioItem {
  h3 {
    font-family: 'Open Sans', sans-serif;
  }
  img {
    width: 100%;
  }
  i {
    font-size: 1.7em;
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tags {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8em;
    list-style: none;
    padding-left: 0px;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    li {
      padding-right: 1rem;
    } 
  }
}