.Goodies {
  text-align: center;
  padding: 2em;

  code { 
    background-color: #eee; 
    margin-right: 1em;
    padding: 3px;
  }

  pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
  }

  ul {
    list-style: none;
  }
  .partition {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
  }
}
