.ContactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
  textarea {
    width: 72vw;
    height: 30vh;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.2em;
    border-radius: 5px;
    padding: 0.5em;
  }
  button {
    margin: 1.3rem 0 1.3rem 0;
    display: block;
  }
  input {
    width: 72vw;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.2em;
    border-radius: 5px;
    padding: 0.5em;
  }
  button {
    font-size: 1.2em;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    padding: 0.5em;
  }
}