@import url('https://fonts.googleapis.com/css?family=Livvic|Roboto+Mono|Open+Sans:700|Gloria+Hallelujah|Montserrat:100&display=swap');

body {
  margin: 0px;
  font-family: 'Livvic', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

h1, h2 {
  text-align: center;
}