@import url('https://fonts.googleapis.com/css?family=Livvic|Roboto+Mono|Open+Sans:700|Gloria+Hallelujah|Montserrat:100&display=swap');

body {
  margin: 0px;
  font-family: 'Livvic', sans-serif;
  font-size: 18px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h2 {
  font-size: 2em;
}

h3 {
  font-family: 'Open Sans', sans-serif;
}

button:hover {
  cursor: pointer;
}

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

