.Media {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
  i {
    font-size: 4em;
    padding: 0.2em;
    color: whitesmoke;
  }
  i:hover {
    color: rgb(10, 146, 123);
  }
  @media (max-width: 500px) {
    i {
      font-size: 3em;
    }
  }
}